/*
Framework for easy graphic tournament creations
Author: simsComputing
Author Name : Simon HUMEAU
Author email: simon.jm.humeau@gmail.com
Framework made with : Bootstrap
Licence: Free for any use (commercial included)
*/


#tournament_wraper #link_team_wraper #crochet {
		width: 25px;
		border-top: solid 1px black;
		border-bottom: solid 1px black;
		border-right: solid 1px black;
		float: left;
	}
	
	.column, .column2, .column3, .column4, .column5 {
		float: left;
	}
	
	#tournament_wraper #link_team_wraper #branch {
		width: 25px;
		border: solid 1px black;
		margin-left: 25px;
	}
  
	#tournament_wraper .tour_team_wraper #team1 {
		position: relative;
		top: 12px;
	}
	
	#tournament_wraper .tour_team_wraper #team2 {
		float: left;
		clear: left;
	}
	
	#tournament_wraper .tour_team_wraper {
		float: left;
		clear: left;
		width: 250px;
	}

/* PARTIE SUR MESURE */
	
	#tournament_wraper .column .tour_team_wraper {
		margin-top: 0px;
	}
	
	#tournament_wraper .column2 .tour_team_wraper {
		margin-top: 24px;
	}
		
	#tournament_wraper .column3 .tour_team_wraper {
		margin-top: 67px;
	}
	
	#tournament_wraper .column4 .tour_team_wraper {
		margin-top: 150px;
	}
	
	#tournament_wraper .column5 .tour_team_wraper {
		margin-top: 315px;
	}
	
	#tournament_wraper .column .tour_team_wraper #team2 {
		margin-top: 25px;
	}
	
	#tournament_wraper .column2 .tour_team_wraper #team2 {
		margin-top: 65px;
	}
	
	#tournament_wraper .column3 .tour_team_wraper #team2 {
		margin-top: 147px;
	}
	
	#tournament_wraper .column4 .tour_team_wraper #team2 {
		margin-top: 313px;
	}
	
	#tournament_wraper .column5 .tour_team_wraper #team2 {
		margin-top: 646px;
	}
	
	#tournament_wraper .column #link_team_wraper #crochet {
		height: 40px;
	}
	
	#tournament_wraper .column2 #link_team_wraper #crochet {
		height: 80px;
	}
	
	#tournament_wraper .column3 #link_team_wraper #crochet {
		height: 163px;
	}
	
	#tournament_wraper .column4 #link_team_wraper #crochet {
		height: 328px;
	}
	
	#tournament_wraper .column5 #link_team_wraper #crochet {
		height: 659px;
	}
	
	#tournament_wraper .column #link_team_wraper #branch {
		margin-top: 20px;
	}
	
	#tournament_wraper .column2 #link_team_wraper #branch {
		margin-top: 39px;
	}
	
	#tournament_wraper .column3 #link_team_wraper #branch {
		margin-top: 81px;
	}
	
	#tournament_wraper .column4 #link_team_wraper #branch {
		margin-top: 164px;
	}
	
	#tournament_wraper .column5 #link_team_wraper #branch {
		margin-top: 329px;
	}
	
	#tournament_wraper .column2 #wrap2 {
		margin-top: 43px;
	}
	
	#tournament_wraper .column3 #wrap2 {
		margin-top: 127px;
	}
	
	#tournament_wraper .column4 #wrap2 {
		margin-top: 292px;
	}
	
	.tour_champ5 {
		float:left;
		margin-top: 638px;
	}
	
	.tour_champ4 {
		float:left;
		margin-top: 309px;
	}
	
	.tour_champ3 {
		float:left;
		margin-top: 146px;
	}
	
	.tour_champ2 {
		float:left;
		margin-top: 63px;
	}
	
	.tour_champ1 {
		float:left;
		margin-top: 17px;
	}
  
  /* MISE EN FORME GRAPHIQUE */
  
  .team_name {
	border: solid 1px #5E913B;
	width: 170px;
	padding: 3px;
	background-color: #548135;
	color: white;
	height: 29px;
	text-align: center;
	overflow: hidden;
  }
  
  .score {
	  float: right;
	  width: 40px;
	  height: 26px;
	  background-color: blue;
	  margin: -3px;
	  padding: 3px;
  }